<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="../../stylesheets/new.css">
</head>

<h1>単語を新規作成</h1>

<%= form_with model: @word, local: true do |form| %>
  <div>
    <%= form.label :name, "単語" %><br>
    <%= form.text_field :name, class: "large-input" %>
  </div>

  <div>
    <%= form.label :explanation, "意味" %><br>
    <%= form.text_area :explanation, class: "large-textarea" %>
  </div>

  <div>
    <%= form.submit "登録する" %>
  </div>
<% end %>

