<h1><%= @word.name %></h1>

<p>
  <strong>ID:</strong>
  <%= @word.id %>
</p>

<p>
  <strong>意味:</strong>
  <%= @word.explanation %>
</p>

<%= link_to '編集', edit_word_path(@word), class: "btn btn-primary" %> |
<%= link_to '一覧に戻る', words_path, class: "btn btn-secondary" %>
